<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Alg. Clasificacion</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    </head>
   <body>
        <h1>Algoritmo de Clasificacion</h1>
        <table class="table table-dark">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">x1</th>
      <th scope="col">x2</th>
      <th scope="col">x3</th>
      <th scope="col">x4</th>
      <th scope="col">Suma</th>
    </tr>
  </thead>
  <tbody>
    <tr>
    {% for var,suma in contexto %}
      <th scope="row"></th>
      <td>{{var.x1}}</td>
      <td>{{var.x2}}</td>
      <td>{{var.x3}}</td>
      <td>{{var.x4}}</td>
      <td>{{suma}}</td>
    </tr>
  </tbody>
  {% endfor %}
</table>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script>
</body>
</html>